.count{
    width: 74px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F3;
    border-radius: 8px;
    padding: 7px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.count__minus{
    width: 8px;
}

.count__plus{
    width: 8px;
}