.header {
    background-image: url("data:image/svg+xml, %3Csvg id='header' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08'/%3E%3C/svg%3E");
    background-size: 611px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 24px 0 30px;
}

.header__logo {
   width: 150px;
   color: #fff; 
   margin: 0 auto 24px;
}

.header__title-container {
    padding-bottom: 246px;
    background: url('../img/pic.svg') bottom/227px no-repeat;
    text-align: center;
    color: #fff;

}

.header__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 16px;
}

.header__title-red {
    color: #FF5C00;
}

.header__appeal {
    font-style: 12px;
    line-height: 16px;
}

@media (min-width: 480px) {
    .header{
        background-size: 1500px;
        padding-bottom: 44px;
    }

    .header__container{
        max-width: 480px;
    }

    .header__title-container{
        padding-bottom: 0;
        padding-left: 180px;
        padding-top: 27px;
        text-align: left;
        background-position: left;
        background-size: contain;
        min-height: 190px;
    }
}