.modal-delivery{
    --gap: 8px;
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    padding: 32px 10px;
    display: flex;
}

.modal-delivery__container{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.modal-delivery__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 18px;
}

.modal-delivery__form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
    margin-bottom: 18px;
}

.modal-delivery__fieldset{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.modal-delivery__fieldset_radio{
    flex-direction: column;
    align-items: flex-start;
}

.modal-delivery__fieldset_hide{
    visibility: hidden;
}

.modal-delivery__input{
    width: 100%;
    height: 30px;
    border: 1px solid #F2F2F3;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 10px;
    line-height: 130%;
    color: black;
}

.modal-delivery__input:hover{
    border: 1px solid #FFAB08;
}

.modal-delivery__input:focus-visible{
    border: 1px solid #F86310;
}

.modal-delivery__input:disabled{
    border: 1px solid #b1b1b1;
    color: #b1b1b1;
}

.modal-delivery__input_half{
    flex-basis: calc((100% - var(--gap)) /2);
}

.modal-delivery__input::placeholder{
    color: #b1b1b1;
}

.modal-delivery__label{
    display: flex;
    gap: 8px;
    font-size: 10px;
    line-height: 14px;
}

.modal-delivery__radio{
    -webkit-apperance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 12px;
}

.modal-delivery__radio::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #F2F2F3;
}

.modal-delivery__radio::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: block;
    width: 7px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0;
}


.modal-delivery__radio:checked::after{
    opacity: 1;
}

.modal-delivery__submit{
    padding: 9px;
    background-color: #FF7020;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    line-height: 100%;
    margin-right: 8px;
    transition: transform .1s ease, background-color .3s ease-in-out;
}

.modal-delivery__submit:hover{
    background-color: #FFAB08;
}

.modal-delivery__submit:focus-visible{
    background-color: #F86310;
}

.modal-delivery__submit:active{
    transform: translate(1px, 2px);
}

.modal-delivery__submit:disabled{
    background-color: #F9F9F9;
    color: #ACACAC;
}

@supports not selector(:focus-visible){
    .modal-delivery__submit:focus{
        background-color: #F86310;
    }
}

@media (min-width: 480px){
    .modal-delivery{
        max-width: 524px;
        min-height: auto;
        padding: 20px 16px 29px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
    }

    .modal-delivery__container{
        margin-left: 0;
    }
}

@media (min-width: 1024px){
    .modal-delivery{
        max-width: 684px;
        padding: 44px 24px 24px 366px;
        background: url('../img/donut.svg') 19px center, linear-gradient(to right, #FFAB08 50%, #fff 50%);
        background-size: 302px, auto;
        background-repeat: no-repeat;
    }

    .modal-delivery__title{
        font-size: 24px;
        margin-bottom: 16px;
    }

    .modal-delivery__form{
        margin-bottom: 32px;
        gap: 16px;
    }

    .modal-delivery__input{
        font-size: 12px;
        padding: 10px 12px;
        height: 40px;
    }

    .modal-delivery__label{
        font-size: 12px;
    }

    .modal-delivery__fieldset_radio{
        gap: 12px;
    }

    .modal-delivery__submit{
        font-size: 16px;
    }

}
