.product{
    padding: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    min-height: 243px;
    position: relative;
}

.product__image{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product__price{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4px;
}

.product__title{
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 4px;
    flex-grow: 1;
}

.product__detail{
    outline: none;
}

.product__detail:focus-visible,
.product__detail:hover{
    color: #F86310;
}

.product__detail::after{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    outline: 1px solid transparent;
    border-radius: 12px;
}

.product__detail:focus-visible:after{
    outline-color: #F86310;
}

.product__weight{
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #b1b1b1;
    margin-bottom: 7px;
}

.product__add{
    background-color: #f2f2f3;
    border-radius: 8px;
    width: 100%;
    font-size: 12px;
    line-height: 100%;
    padding: 9px;
    transition: transform .1s ease, background-color .3s ease-in-out;

}

.product__add:hover{
    background-color: #FFAB08;
}

.product__add:focus-visible{
    background-color: #F86310;
}

.product__add:active{
    transform: translate(1px, 2px);
}

.product__add:disabled{
    background-color: #F9F9F9;
    color: #ACACAC;
}

@media (min-width: 1024px){
    .product{
        padding: 12px;
        min-height: 411px;
        border-radius: 18px;
    }
    
    .product__image{
        height: 220px;
        border-radius: 12px;
        margin-bottom: 16px;
    }
    
    .product__price{
        font-size: 24px;
        margin-bottom: 8px;
    }
    
    .product__title{
        font-size: 16px;
    }
    
    .product__weight{
        font-size: 16px;
        margin-bottom: 8px;
    }
    
    .product__add{
        border-radius: 12px;
        font-size: 16px;
        padding: 12px;
    }
}
