.product{
    padding: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    min-height: 243px;
}

.product__image{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product__price{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4px;
}

.product__title{
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 4px;
    flex-grow: 1;
}

.product__detail{
    outline: none; /* !todo outline */
}

.product__weight{
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #b1b1b1;
    margin-bottom: 7px;
}

.product__add{
    background-color: #f2f2f3;
    border-radius: 8px;
    width: 100%;
    font-size: 12px;
    line-height: 100%; /* !todo hover */
    padding: 9px;
}


